.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  font-size: 1.5em;
  padding: 10px 0;
}

.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .nav {
    text-align: center;
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 65px;
    right: 0px;
    width: max-content;
    padding: 10px;
  }
  .header {
    justify-content: space-around;
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: none;
  }
}
.header {
  background-color: #191919;
  height: 4em;
  box-shadow: 0px 4.36364px 16px -2.18182px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  font-family:
    Plus Jakarta Sans,
    sans-serif;
}
.headerblock {
  color: aliceblue;
  text-decoration: none;
}
.header_text {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header_logo {
  height: 4.5em;
}

.header_text {
  display: flex;
}

.hamburger {
  display: none;
}

/* Мобильная версия */
@media (max-width: 768px) {
  .header_text {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: #191919;
    padding: 20px;
    border-radius: 12px;
    gap: 14px;
  }

  .nav.active {
    display: flex;
  }
}
.menu-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 998;
}
.nav {
  z-index: 999;
  position: fixed;
}
