body {
  background-color: #161513;
  padding: 0 0;
  margin: 0 0;
}
a {
  color: aliceblue;
  text-decoration: none;
  font-family: "calibri", Courier, monospace;
  font-size: medium;
}
.cursor-particle {
  position: fixed;
  pointer-events: none;
  z-index: 9999;

  width: 60px;
  height: 60px;

  border-radius: 50%;
  transform: translate(-50%, -50%);

  background: radial-gradient(
    circle,
    rgba(170, 0, 255, 0.15) 0%,
    rgba(170, 0, 255, 0.08) 40%,
    rgba(170, 0, 255, 0.03) 65%,
    transparent 75%
  );

  filter: blur(18px);
  transition: opacity 0.2s ease;
}

@keyframes particleFade {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }
}
